@font-face {
    font-family: 'Dosis-Bold';
    src: url(../Fonts/Dosis-Bold.ttf);

    font-family: 'Dosis-ExtraBold';
    src: url(../Fonts/Dosis-ExtraBold.ttf);

    font-family: 'Dosis-ExtraLight';
    src: url(../Fonts/Dosis-ExtraLight.ttf);

    font-family: 'Dosis-Light';
    src: url(../Fonts/Dosis-Light.ttf);

    font-family: 'Dosis-Medium';
    src: url(../Fonts/Dosis-Medium.ttf);

    font-family: 'Dosis';
    src: url(../Fonts/Dosis-Regular.ttf);

    font-family: 'Dosis-SemiBold';
    src: url(../Fonts/Dosis-SemiBold.ttf);
}

@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');

* {
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    overflow: hidden;
    font-size: 24px;
} 

#background {
    width: 100%;
    height: 100vh;
    background-color: 0070BB;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-box {
    width: 550px;
    height: 600px;
    position: relative;
    border-radius: 15px;
    border: 3px solid #ffffff80;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}

form {
    width: 80%;
}

.logo {
    max-width: 20em;
}

.logo-box {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.input-box {
    width: 100%;
    margin: 48px 0;
    position: relative;
    border-bottom: 1px solid #fff;
    font-family: 'Dosis-Light', sans-serif;
}

.input-box label {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
} 

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    z-index: 0;
    backdrop-filter: blur(15px);
}

.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    top: 0;
    border-radius: 40px;
}

.btn::before {
    content: "";
    background-color: #91F5AD;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 40px;
    opacity: 0;
}
  
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
  

.btn:hover::before {
    opacity: 1;
}
  
.btn:active:after {
    background: transparent;
    background-color: #91F5AD;
}
  
.btn:active {
    color: #000;
    font-weight: bold;
}

.register-link {
    font-size: .7em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.25s linear;
}

.register-link a:hover {
    color: #91F5AD;
}

.remember-forgot {
    margin: 0 0 32px 0;
    font-size: .8em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label {
    display: flex;
    gap: 5px;
}

.remember-forgot input {
    transform: scale(1.3);
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
    transition: color 0.25s linear;
}

.remember-forgot a:hover {
    color: #91F5AD;
}

.homebutton a{
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    margin: 15px 20px;
    transition: 0.5s all;
}

.homebutton a:hover {
    transform: scale(1.1);
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg,#91F5AD, #6DD4B1, #49B3B4);
}
