version: "3.9"

services:
  server:
    build: ./apps/server
    container_name: server
    ports:
      - "3000:3000"

  web:
    build: ./apps/web
    container_name: web
    ports:
      - "3001:3001"

  caddy:
    build: ./apps/caddy
    container_name: caddy
    ports:
      - "80:80"
    depends_on:
      - server
      - web